﻿@page "/about"

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Welcome to the Contact Management App!</h4>
                    <p class="card-text text-center">This application allows you to manage your contacts effectively.</p>
                    <ul class="list-group">
                        <li class="list-group-item">Create, read, update, and delete contacts</li>
                        <li class="list-group-item">Search and filter contacts</li>
                        <li class="list-group-item">Responsive user interface</li>
                        <li class="list-group-item">Blazor WebAssembly technology</li>
                    </ul>
                    <p class="card-text mt-3 text-center">Developed by: Neal Sotes</p>
                </div>
            </div>
        </div>
    </div>
</div>
