﻿@page "/contact/add"
@page "/contact/edit/{contactId:int}"
@using ContactManagement.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h1>@Title Contact</h1>
<hr />
<EditForm Model="@contact" OnValidSubmit="SaveContact">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="contact.FirstName" />
        </div>
        <ValidationMessage For="@(() => contact.FirstName)" />
    </div>
    <div class="mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="contact.LastName" />
        </div>
        <ValidationMessage For="@(() => contact.LastName)" />
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="contact.Email" />
        </div>
        <ValidationMessage For="@(() => contact.Email)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Address</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="contact.Address" />
        </div>
        <ValidationMessage For="@(() => contact.Address)" />
    </div>

    @if (Title == "Edit")
    {
        <div class="mb-3">
            <label for="Status" class="form-label">Status</label>
            <div class="col-md-4">
                <select id="Status" class="form-select" @bind="contact.Status">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
            <ValidationMessage For="@(() => contact.Status)" />
        </div>
    }




    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>
@code {
    [Parameter]
    public int contactId { get; set; }
    protected string Title = "Add";
    protected Contact contact = new();
    protected override async Task OnParametersSetAsync()
    {
        if (contactId != 0)
        {
            Title = "Edit";
            contact = await Http.GetFromJsonAsync<Contact>("api/contacts/" + contactId);
        }
    }
    protected async Task SaveContact()
    {
        if (contact.Id != 0)
        {
            await Http.PutAsJsonAsync("api/contacts/" + contact.Id, contact);
        }
        else
        {
            await Http.PostAsJsonAsync("api/contacts", contact);
        }
        Cancel();
    }
    public void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}