﻿@page "/contact/delete/{contactid:int}"
@using ContactManagement.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h1>Delete Contact</h1>


<div class="form-group">
    <h4>Do you want to delete this contact?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>@contact.FirstName </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@contact.LastName </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@contact.Email</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@contact.Address</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@contact.Status</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <button class="btn btn-danger" @onclick="() => RemoveContact(contactid)">Delete</button>
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</div>


@code
{
    [Parameter]
    public int contactid { get; set; }
    Contact contact = new Contact();
    protected override async Task OnInitializedAsync()
    {
        contact = await Http.GetFromJsonAsync<Contact>($"api/contacts/{contactid}");
    }
    protected async Task RemoveContact(int contactid)
    {
        await Http.DeleteAsync($"api/contacts/{contactid}");
        NavigationManager.NavigateTo("/");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}