﻿@page "/"
@using ContactManagement.Shared.Models
@using System.Net
@inject HttpClient Http
<h1>Contact Data</h1>

<div class="row">
    <div class="col-md-6">
        <a href='/contact/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Contact
        </a>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" style="margin-right: 10px" placeholder="Search" @bind="@SearchString" />
            <div class="input-group-append">
                <button class="btn btn-outline-primary" style="margin-right: 5px " type="button" @onclick="SearchContacts">
                    Search
                </button>
                <button class="btn btn-outline-secondary" style="margin-right: 10px" type="button" @onclick="ResetSearch">
                    Reset
                </button>
            </div>
        </div>
    </div>
</div>
<br />
@if (contactList == null)
{
    <p><em>Loading...</em></p>
}

else
{
    @if (totalContacts.HasValue)
    {
        <p>Total Contacts: @totalContacts.Value</p>
    }
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success text-center">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in contactList)
            {
                <tr>
                    <td class="text-center">@contact.Id</td>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.Email</td>
                    <td>@contact.Address</td>
                    <td>
                        <span class="@(contact.Status == "Active" ? "status-active" : "status-inactive")">@contact.Status</span>
                    </td>
                    <td class="text-center">
                        <a href='/contact/edit/@contact.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/contact/delete/@contact.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!string.IsNullOrEmpty(searchError))
    {
        <p>@searchError</p>
    }

    <!-- Pagination -->
    <div class="col-md-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="#" @onclick="(() => ChangePage(currentPage - 1))">Previous</a>
                </li>
                @for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="#" @onclick="(() => ChangePage(i))">@i</a>
                    </li>
                }
                <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                    <a class="page-link" href="#" @onclick="(() => ChangePage(currentPage + 1))">Next</a>
                </li>
            </ul>
        </nav>
    </div>

}
@code {
    protected List<Contact> contactList = new();
    protected List<Contact> searchContactData = new();
    protected Contact contact = new();
    protected string SearchString { get; set; } = string.Empty;
    protected int currentPage = 1;
    protected int pageSize = 10;
    protected int totalPages;
    protected string searchError;
    protected int? totalContacts;

    protected override async Task OnInitializedAsync()
    {
        await GetContact();
        await GetTotalContacts();
    }

    protected async Task GetContact()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<List<Contact>>($"api/contacts?page={currentPage}&pageSize={pageSize}");
            contactList = response ?? new List<Contact>();
            searchContactData = contactList;

            totalPages = (int)Math.Ceiling((double)totalContacts / pageSize);
        }
        catch (HttpRequestException ex)
        {
            // Handle HTTP request exception
            Console.WriteLine($"HTTP request exception: {ex.Message}");
            // You can display an error message to the user or perform other error handling logic
        }
        catch (Exception ex)
        {
            // Handle other exceptions
            Console.WriteLine($"An error occurred: {ex.Message}");
            // You can display an error message to the user or perform other error handling logic
        }
    }
    protected async Task GetTotalContacts()
    {
        try
        {
            var response = await Http.GetAsync("api/contacts/total");
            response.EnsureSuccessStatusCode();

            totalContacts = await response.Content.ReadFromJsonAsync<int>();
        }
        catch (Exception ex)
        {
            // Handle the exception and return an appropriate error response
            Console.WriteLine($"An error occurred: {ex.Message}");
            // You can display an error message to the user or perform other error handling logic
        }
    }




    protected void ChangePage(int page)
    {
        currentPage = page;
        GetContact();
    }

    protected void DeleteConfirm(int userID)
    {
        contact = contactList.FirstOrDefault(x => x.Id == userID);
    }

    protected async Task SearchContacts()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            try
            {
                var response = await Http.GetAsync($"api/contacts/search?name={SearchString}");

                if (response.IsSuccessStatusCode)
                {
                    contactList = await response.Content.ReadFromJsonAsync<List<Contact>>();
                    searchError = null; // Reset the error message if successful
                }
                else if (response.StatusCode == HttpStatusCode.NotFound)
                {
                    contactList = new List<Contact>();
                    searchError = "No contacts matching the search term were found.";
                }
                else
                {
                    searchError = "An error occurred while searching contacts.";
                }
            }
            catch (Exception ex)
            {
                searchError = $"An error occurred while searching contacts: {ex.Message}"; // Set the error message
                Console.WriteLine($"Error searching contacts: {ex.Message}");
            }
        }
        else
        {
            contactList = searchContactData;
        }
    }


    public void ResetSearch()
    {
        SearchString = string.Empty;
        contactList = searchContactData;
        searchError = null;
    }
}
